@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --bg-color_screen_operation: #ffffff;
}

main {
    background-color: #4a739f;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    padding: 10px;
}

.payment_area {

    background-color: var(--background-color_area);
    border-radius: var(--border-radius_area);
    
    visibility: visible;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: relative;
}

.prev_page {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    cursor: pointer;
}

.prev_page a {
    text-decoration: none;
    color: black;
}

.payment_area * {
    font-family: "Roboto", serif;
}

.credit_card_machine {

    background-color: #ff6eb600;
    
    height: 90%;

    overflow: hidden;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.credit_card_machine > img {
    height: 90vh;
    width: auto;

}

.credit_card_screen_payment {
    background-color: rgba(255, 0, 0, 0);
    height: 29.5%;
    width: 66%;

    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;

    border: 1px solid rgba(255, 0, 0, 0);

    overflow: hidden;
}

.total_value {
    border-bottom: 1px solid black;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    font-size: 0.9em;
    width: 100%;

    grid-column: 1;
    white-space: nowrap;
}

.total_paid {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    background-color: #4a739f00;
    width: 100%;
    height: 100%;

    font-size: 50px;
    white-space: nowrap;
}

.keyboard_number {
    cursor: pointer;
}

.shopping_cart_and_payment {
    grid-column: 2 / -1;
}

.credit_card_screen_operation {
    background-color: var(--bg-color_screen_operation);

    height: 35%;
    width: 35%;

    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.credit_card_screen_processing_payment, .credit_card_screen_purchase_approved, .credit_card_screen_purchase_refused {
    height: 29.5%;
    width: 66%;

    border: none;

    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);

    color: white;

    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.credit_card_screen_processing_payment {
    background-color: white;
    color: black;
    font-size: 1.2vw;

    gap: 20px;
    
    visibility: hidden;
}

.credit_card_screen_purchase_approved {
    background-color: #0fa844;

    visibility: hidden;
}

.credit_card_screen_purchase_approved > h1 {
    font-size: 1.2vw;
}

.credit_card_screen_purchase_approved > p {
    font-size: 16px;
    white-space: nowrap;
}

.credit_card_screen_purchase_refused {
    background-color: #f05b58;

    visibility: hidden;
}

.credit_card_screen_purchase_refused > h1 {
    font-size: 1.2vw;
}

.credit_card_screen_purchase_refused > p {
    font-size: 0.9vw;
}

.operation_icon_purchase_approved, .operation_icon_purchase_refused {
    width: 25%;
    height: 25%;
}

.operation_icon_purchase_approved {
    background: #0fa844 url("../img/approved\ icon.png") no-repeat center;
    background-size: contain;
}

.operation_icon_purchase_refused {
    background: #f05b58 url("../img/Alert\ icon.png") no-repeat center;
    background-size: contain;
}